.bgFlexRed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

/* .bgFlexRed{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.bgFlexYellow{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.bgFlexGreen{
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.bgFlexBrown{
    border-top: 1px solid black;
    border-left: 1px solid black;
} */

