body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Comic Sans MS';
}

@media all and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Comic Sans MS';

        color: fuchsia;
        font-size: 8px;
    }
}

.appContainer {
    display: flex;
}

.flex1 {
    flex: 1;
}

.subFlex {
    display: flex;
    flex-direction: row;
    height: 50vh;
}